<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base-user::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Adding Contact!!</title>
</head>
<body>
	
	
	
		<div class="card">
			<div class="card-body">
			<section>
				<div  th:if="${session.message}" class="container mt-5">
					<div th:classappend="${'alert-'+session.message.type}" class="alert text-center"> 
					<span th:text="${session.message.content}"></span>
					</div>
					
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="container-fluid ">

				<div class="row">

					<div class="col-md-9 offset-md-1 ">
					

						<form action="#" th:object="${contact}"
							enctype="multipart/form-data" method="post"
							th:action="@{/user/process-contact}">


							<div class="form-group">
								<div class="form-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<label for="contactName">Name</label> <input name="name"
										type="text" class="form-control" id="contactName"
										placeholder="Name" required>
								</div>
								</div>
								<div class="form-group">
								<div class="form-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<label for="nickName">Last
										Name</label> <input name="nickName" type="text" class="form-control"
										id="nickName" placeholder="Last Name ">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-phone"></i>
									</div>
								</div>
								<label for="phoneNo">Phone</label> <input
									name="phone" type="number" class="form-control" id="phoneNo"
									placeholder="Contact" required min="10" >
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-user-alt"></i>
									</div>
								</div>
								<label for="email">Email</label> <input name="email"
									type="email" class="form-control" id="email"
									placeholder="Email " required>
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-briefcase"></i>
									</div>
								</div>
								<label for="work">Work</label>
								<input name="work" type="text" class="form-control" id="work"
									placeholder="Work Details ">
							</div>
							<div class="form-group">
								<textarea id="mytextarea" name="description"
									placeholder="Enter something about contact" rows="10"
									class="form-control"></textarea>
							</div>
							<div class="custom-file">
								<input type="file" name="profileImage" />
							</div>


							<div class="container text-center">
								<button type="submit" class="btn btn-primary">Add</button>
								<button type="reset" class="btn btn-primary">Reset</button>
							</div>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		
		<script>
      tinymce.init({
        selector: '#mytextarea'
      });
      
  
		$(document).ready(() =>{
			$(".item").removeClass("active");
			$("#add-link").addClass("active");
			
		});
		
    </script>
                           

						</form>
					</div>
				</div>
			</div>
			
		</div>
		
	
	</section>

</body>
</html>